.logo {
  width: 350px;
  padding-top: 80px;
}

#imaginary_container {
  margin-top: 10%;
  /* Don't copy this */
}

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.card-img-top {
  width: 200px;
  border-radius: 80px;
  padding-top: 60px;
}

.h5 {
  margin: 0 0 0px;
}

p {
  text-align: 'center';
  padding-bottom: 50px;
}

.loading{
  padding-top: 40px;
  width: 200px;
}

footer {   
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}